    * 
	{ 
	font-family: Montserrat; 
	line-height: 200%;
	padding: 0px;
	margin: 0px;
	}
	
	#container 
	{
	margin: auto; 
	}
	
	#main 
	{
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 90px;
	}
	#password
	{
    width:80%;
    text-align: center; 
    margin: auto;
    background-color: lightgrey;
    padding: 10px; 
	}
    input[type=number]
    {
    width: 80px;
    } 
	
	.bubble_img 
	{
	border-radius: 50%;
	} 

